immutable_vars.json
vars.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.terraform
*.retry
otus-devops-56b15175f329.json
gce.ini
gce.py
credentials/*
packer/old/*
ansible/old_files/*
ansible/roles/jdauphant.nginx/*
ansible/roles/db/meta/*

# Vargant
.vagrant/
ansible/*.logs
*.log

