[Unit]
Description=Puma Webserver
[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/home/appuser/.rvm/bin/systemd_puma -b tcp://0.0.0.0:9292
TimeoutSec=15
Restart=always
[Install]
WantedBy=multi-user.target

